@model capstone.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Project Details</h2>
<a asp-area="" asp-controller="Projects" asp-action="Quote" asp-route-id="@Model.Client.ClientId" class="btn btn-primary pull-right">View Quote</a>
<br />

<div>
    <h3>Project @Html.DisplayFor(model => model.ProjectNumber)</h3>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a>
        &nbsp&nbsp&nbsp
        <a asp-action="Index" class="btn btn-default">Back</a>
    </div>
    <hr />
    <h4>Client Contact</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-area="" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.Client.ClientId" class="btn btn-primary">@Html.DisplayFor(model => model.Client.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Client.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Client.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Client.StreetAddress) @Html.DisplayFor(model => model.Client.City), @Html.DisplayFor(model => model.Client.State) @Html.DisplayFor(model => model.Client.ZipCode)
                </td>
                <td>
                    @String.Format("{0:c}", Model.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CompletionDate)
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Project Info</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectSalesTax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnburdenedRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubmittedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @String.Format("{0:P2}", Model.ProjectSalesTax)
                </td>
                <td>
                    @String.Format("{0:c}", Model.UnburdenedRate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SubmittedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ExpirationDate)
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Workforce Calculator</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingDays)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Expected @Html.DisplayFor(model => model.WorkDay) hours per day.
                </td>
                <td>
                    @Html.DisplayFor(model => model.WorkingDays)
                </td>
            </tr>
        </tbody>
    </table>
    <a asp-controller="Crews" asp-action="Create" class="btn btn-success">Add Member</a>
    <table class="table">
        <thead>
            <tr>
                <th>Crew Size</th>
                <th>Crew Type</th>
                <th>Labor Hours</th>
                <th>Management Hours</th>
                <th>Pay Rate</th>
                <th>Labor Cost</th>
                <th>Management Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Crew c in Model.CrewMembers)
            {
            <tr>
                <td>
                    @Html.DisplayFor(Model => c.EmployeeQuantity)
                </td>
                <td>
                    @Html.DisplayFor(Model => c.EmployeeTitle)
                </td>
                <td></td>
                <td></td>
                <td>
                    @String.Format("{0:c}", c.PayRate)
                </td>
                <td></td>
                <td></td>
                <td>
                    <a asp-controller="Crews" asp-action="Edit" asp-route-id="@c.CrewId" class="lineItembtn btn btn-primary">Edit</a>
                    &nbsp&nbsp&nbsp
                    <a asp-controller="Crews" asp-action="Delete" asp-route-id="@c.CrewId" class="lineItembtn btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <h4>Totals</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMaterialCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMaterialMargin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMaterialQuote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSubCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSubMargin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSubQuote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalManHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalLaborCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaborMargin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalLaborQuote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSalesTax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @String.Format("{0:c}", Model.TotalMaterialCost)
                </td>
                <td>
                    @String.Format("{0:P0}", Model.TotalMaterialMargin)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalMaterialQuote)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalSubCost)
                </td>
                <td>
                    @String.Format("{0:P0}", Model.TotalSubMargin)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalSubQuote)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TotalManHours)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalLaborCost)
                </td>
                <td>
                    @String.Format("{0:P0}", Model.LaborMargin)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalLaborQuote)
                </td>
                <td>
                    @String.Format("{0:c}", Model.TotalSalesTax)
                </td>
                <td>
                    @String.Format("{0:c}", Model.GrandTotal)
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Line Items</h4>
    <a asp-controller="LineItems" asp-action="Create" class="btn btn-success">Add Item</a>
    @foreach (LineItem li in Model.LineItems)
    {
        <div class="lineitems">
            <h4>@String.Format("{0:c}", li.Description)</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Material Cost
                        </th>
                        <th>
                            Material Margin
                        </th>
                        <th>
                            Material Quote
                        </th>
                        <th>
                            Subcontractor Cost
                        </th>
                        <th>
                            Subcontractor Margin
                        </th>
                        <th>
                            Subcontractor Quote
                        </th>
                        <th>
                            ManHours
                        </th>
                        <th>
                            Labor Cost
                        </th>
                        <th>
                            Labor Quote
                        </th>
                        <th>
                            Sales Tax
                        </th>
                        <th>
                            Total (ex. Sales Tax)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @String.Format("{0:c}", li.MaterialCost)
                        </td>
                        <td>
                            @String.Format("{0:P0}", li.MaterialMargin)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.MaterialQuote)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.SubCost)
                        </td>
                        <td>
                            @String.Format("{0:P0}", li.SubMargin)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.SubQuote)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => li.ManHours)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.LaborCost)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.LaborQuote)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.QuoteSalesTax)
                        </td>
                        <td>
                            @String.Format("{0:c}", li.Total)
                        </td>

                    </tr>
                </tbody>
            </table>
            <div>
                <a asp-controller="LineItems" asp-action="Edit" asp-route-id="@li.LineItemId" class="lineItembtn btn btn-primary">Edit</a>
                &nbsp&nbsp&nbsp
                <a asp-controller="LineItems" asp-action="Delete" asp-route-id="@li.LineItemId" class="lineItembtn btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>