@model capstone.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName) @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarginsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarginsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkforceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkforceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeTrackerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeTrackerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
