@model capstone.Models.Crew

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Crew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CrewId">Edit</a> |
    &nbsp&nbsp&nbsp
    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId" class="btn btn-default">Back</a>
</div>
