@model capstone.Models.EmployeeTypePayRate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeTypePayRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeType.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnburdenedPayRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnburdenedPayRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeTypePayRateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
