@model capstone.Models.Margin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Margin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnburdenedRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnburdenedRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaborTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaborTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Travel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Travel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consumables)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consumables)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompositeLabor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompositeLabor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MarginId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
