@model IEnumerable<capstone.Models.Margin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnburdenedRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Travel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompositeLabor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnburdenedRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Travel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompositeLabor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarginId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MarginId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MarginId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
