@model IEnumerable<capstone.Models.WorkforceCalc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePayRateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagmentHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagmentCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePayRateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagmentHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagmentCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkforceCalcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkforceCalcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkforceCalcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
